body{
    background-color: aquamarine;
}

#nume{
    position: relative;
    bottom: 150px;
    font-family: 'Stalinist One', cursive;
    font-size: 300%;
}

#profil{
    position: absolute;
    top: 35%;
    left: 48px;
    background:    linear-gradient(#02d4a0, #000000);
    border:        1px solid #000000;
    border-radius: 5px;
    padding:       8px 20px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal 700 20px/1 "Komika", cursive;
    text-align:    center;
    text-shadow:   1px 1px #000000;
}

#student{
    position: relative;
}

.cursuri a{
    position: relative;
    bottom:30px;
    display: inline-block;
    height:30px;
    width: 104px;
    border-style: none;
    background-size: 100%; 
    background:    linear-gradient(#1fd407, #01241b);
    border:        1px solid #000000;
    border-radius: 5px;
    padding:       8px 20px;
    color:         #ffffff;
    font:          normal 700 20px/1 "Komika", cursive;
    text-align:    center;
    text-shadow:   1px 1px #000000;
    text-decoration: none;
}

#activitate{
    display: inline-block;
    font-family: 'Denk One', sans-serif;
    margin-left: 10%;
    margin-top: 2%;
    font-size: 40px;
    
}

#facebook{
    display: inline-block;
    margin-left: 5%;
    width:5%;
    
}

#github{
    display: inline-block;
    margin-left: 5%;
    width: 5%;
    
    
}

#login{
    position:relative;
    bottom: 15px;
    font-size: 30px;
    display: inline-block;
    
}

#situatie{
    position: relative;
    display: inline-block;
    font-family: 'Denk One', sans-serif;
    bottom: 195px;
    margin-right: 15%;
    float: right;
    font-size: 40px;
}

#tabelas{
    position: relative;
    display: inline-block;
    float: right;
    border-collapse: collapse;
    bottom: 80px;
    left: 25%;
    
    
}

td,th{
    border-style: solid;
    width: 90px;
    height: 30px;
    text-align: center;

}

#total{
    position: relative;
    font-family: 'Denk One', sans-serif;
    float: right;
    top: 280px;
    left: 800px;
}

#prom{
    position: relative;
    left: 50px;
    font-family: 'Denk One', sans-serif;
}

#prom p{
    font-size: 20px;
}