.margin-logIn input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.margin-logIn #student {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
}

#student:hover {
    opacity: 0.8;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 10%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
    
}

.modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    
}


.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

body, html,section
{
    height: 100%;
    margin: 0;
    
}


header{
    overflow: hidden;
    display:block;
    height:60px;
    width: 100%;
    background: #fcda9c;
    position: fixed;
    top:0%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style:solid;
    margin:0;
}

#logo{
    position: relative;
    display: inline-block;
    height: 45px;
    margin-top: 0.8%;
    margin-right: 3%;
   
}

.meniu a{
    background: #fcda9c;
    display: inline-block;
    height:60px;
    width: 150px;
    border-style: none;
    background-size: 100%; 
    text-decoration: none;
    color: #000;
    font-family: 'BioRhyme', serif;
    font-size: 100%;
    text-align: center;
    padding-top: 15px;
}


.meniu a:hover{
    background: #ffd17b;
}


#home
{
 background-image:url(./pag1.png);
    margin: auto;
    display: block;    
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}


#about-title{
    text-align: center;
    font-size: 450%;
    color: rgb(2, 0, 0);
    font-family: 'Indie Flower', cursive;
    display: inline-block;
    margin-top: -20px;
}
#about-text{
    font-family: 'Lobster Two', cursive;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 140%;
    color: rgb(2, 0, 0);
    margin-right: 8%;
    margin-left: 8%;
    margin-top: -2%;
    
}

#edy{
 display: inline-block;
 margin-top: 5%;

}

#oly{
    margin-top: 1%;

}

#teo{
display: inline-block;
margin-top: 5%
    
}



#logIn{
    background-image:url(./logIn.png);
}

.margin-cont{
    display: inline-block;
    margin-left: 20%;
    margin-top: 8%;
    color: #fcda9c;
}
.margin-cont h1
{
    font-size: 300%;
}
.margin-cont label
{
    font-size: 130%;
    margin-left:-2.5%;
}

.margin-logIn{
    display: inline-block;
    margin-right: 10%;
    margin-top: 8%;
    color: #fcda9c;
}

.margin-logIn h1{
    margin-left: 35%;
    font-size: 300%;
}

#radio2{
    margin-left: 5%;
}

.margin-cont .chenar{
    display: inline-block;
    height: 25px;
    width: 190px;
}

.margin-cont h2{
    margin-bottom: -10px;
    
}

#buton.submitButton {
    background: #f7754d;
    border-radius: 10px;
    text-shadow: 4px 1px 13px #666666;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: 15px;
    padding: 3px ;
    text-decoration: none;
    margin-left: 140px;
    margin-top: -50px;
  }
  
  .submitButton:hover {
    background: #af3a0c;
    text-decoration: none;
  }

  .contact-button{
    margin-left:   36.5%;
    background:    #ff9900;
    background:    -webkit-linear-gradient(#ff9900, #000000);
    background:    linear-gradient(#ff9900, #000000);
    border:        1px solid #000000;
    border-radius: 5px;
    padding:       8px 20px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal 700 20px/1 "Komika", cursive;
    text-align:    center;
    text-shadow:   1px 1px #000000;
    
  }

 #algoritm{
    background-image:url(./algoritm.jpg);
    margin-bottom: 0;
    display: block;    
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

#algoritm div
{
    
}

#algoritm #algoritm-titlu
{
    text-align: center;
    font-size: 350%;
    color: rgb(2, 0, 0);
    font-family: 'Indie Flower', cursive;
    padding-top: 5%;
    margin-top: 0%;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#algoritm p
{
    margin-top: -1%;
    font-family: 'Salsa', cursive;
    margin-left: 15%;
    margin-right: 5%;
    font-size: 130%;
    font-weight: bold;
    
}
#algoritm ul
{
    font-family: 'Salsa', cursive;
    margin-left: 17%;
    margin-right: 5%;
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 2%;
}

#contact{
    background-image:url(./contact_back.jpg);
    margin-top:-40px;
    display: block;    
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

   
   }
 
#contact h2{
    font-family: 'Lobster Two', cursive;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 160%;
    color: rgb(2, 0, 0);
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-size: 300%;
    color: rgb(2, 0, 0);
    padding-top: 80px;
}

#contact form{
    margin-top:5%;
}
#contact #casuta{
    margin-left: 15%;
    padding: 1%;
    display: inline-block;
    width: 400px;
    background-color: #ffd17b;
    border: 100%;
    border-color: rgb(145, 146, 146); 
    text-decoration-style: solid;
    text-decoration: black;
    -webkit-text-size-adjust: 200px;
}
#contact #mesaj{
    margin-left: 15%;
    padding: 1%;
    display: inline-block;
    width: 400px;
    height:200px;
    background-color: #ffd17b;
    border-color: rgb(145, 146, 146); 
    border-style: inset;
    border-width: 2px;
    
}

#edy-contact{
    margin-top:-25%;
    margin-right: 30%;
}
#teo-contact{
    margin-top: -30%;
    margin-right: 2%;
}
#oly-contact{
    margin-top: -10%;
    margin-right: 10%;
}

.error{
    color: red;
}


#home #edy_back
{
    margin-top: 30%;
    margin-right: -28%;

}

#home #oly_back
{
    margin-top: 15%;
    margin-right: -45%;
}
#home #teo_back
{
    margin-right: 30%;
    
}