
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="css/studentStyle.css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Stalinist+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Denk+One" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href="css/sStyle.css" media="all">
    <title>Student page</title>

</head>
<body onload="setName()">

    <img src="imagini/student_back.jpg" id="poza">

    <center><h1 id="nume"></h1></center>
    <button><a href="index.php"><img src="imagini/BackButton.png" id="back"></a></button>
    <nav class="cursuri">
        <a href="https://profs.info.uaic.ro/~busaco/teach/courses/web/presentations/web01ArhitecturaWeb.pdf"><b>Curs1</b></a>
        <a href="https://profs.info.uaic.ro/~busaco/teach/courses/web/presentations/web02ProgramareWeb-HTTP-CGI.pdf"><b>Curs2</b></a>
        <a href="https://profs.info.uaic.ro/~busaco/teach/courses/web/presentations/web04DezvoltareaAplicatiilorWeb-InginerieWeb.pdf"><b>Curs3</b></a>
        <a href="https://profs.info.uaic.ro/~busaco/teach/courses/web/presentations/web05DezvoltareaAplicatiilorWeb-PHP.pdf"><b>Curs4</b></a>
        <a href="https://profs.info.uaic.ro/~busaco/teach/courses/web/presentations/web05DezvoltareaAplicatiilorWeb-PHP.pdf"><b>Curs5</b></a>
        <a href="https://profs.info.uaic.ro/~busaco/teach/courses/web/web-film.html#week6"><b>Curs6</b></a>
        <a href="https://profs.info.uaic.ro/~busaco/teach/courses/web/presentations/web07ModelareXML-XPath-ValidariXML-DTD.pdf"><b>Curs7</b></a>
        <a href="https://profs.info.uaic.ro/~busaco/teach/courses/web/projects/xml-transform.php?pag=projects"><b>Proiect</b></a>
        <a href="https://profs.info.uaic.ro/~busaco/teach/courses/web/presentations/web08ProcesariXML-DOM.pdf"><b>Curs8</b></a>
        <a href="https://profs.info.uaic.ro/~busaco/teach/courses/web/presentations/web08ProcesariXML-DOM.pdf"><b>Curs9</b></a>
    </nav>
    <h2 id="activitate">Activitate externa</h2>
    <br/>
    <img id="facebook" src="imagini/facebook.png">
    <div id="login">
    <a href="../../TW/Controller/fblogin.php" style="text-decoration: none;">Login facebook </a>
    <button id="facebook-activity">10</button>
    </div>
    <br/>
    <img id="github" src="imagini/github.png">
    <div id="login1">
    <a href="../../TW/Controller/login.php" style="text-decoration: none;">Login github</a>
    <button id="github-activity"></button>
    </div>
    <h2 id="situatie">Situatie scolara</h2>
    <!-- <form action="displayGrades.php"> -->
    <table id="tabelas">
        <tr>
            <th> </th>
            <th>Activitate</th>
            <th>Prezenta</th>
            <th>Proiect</th>
            <th>Teste</th>
        </tr>
        <tr>
            <th id="s1">Saptamana 1</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s2">Saptamana 2</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s3">Saptamana 3</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s4">Saptamana 4</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s5">Saptamana 5</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s6">Saptamana 6</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s7">Saptamana 7</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s8">Saptamana 8</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s9">Saptamana 9</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s10">Saptamana 10</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s11">Saptamana 11</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s12">Saptamana 12</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
        <tr>
            <th id="s13">Saptamana 13</th>
            <td class="activitate">-</td>
            <td class="prezenta">-</td>
            <td class="proiect">-</td>
            <td class="test">-</td>
        </tr>
    </table>
    <!-- <button type="submit" style="position: relative;">Form</button>
  </form> -->


    <p id="total">Total:</p>
<div id="prom">
    <h2 id="procent">Procent de promovabilitate:</h2>
    <h1 id="verdict" style="position:relative;"></h1>
    <a id="linku" style="position:relative;"></a>

</div>
<button type="button" class="logout" id="logout" style="position: relative; margin-left:10%" onclick="logout()">Log out</button>
<script>
function getCookieName() {
    var name = "name" + "=";
		var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
}
</script>
<script>
function setName(){

  var name = getCookieName();
  var numeBun = name.replace('+','  ');

  var studName = document.getElementById("nume");
  studName.innerHTML = numeBun;
  console.log(numeBun);
}
</script>

<script>
function logout(){
  document.cookie = "username" + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  document.cookie = "password" + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  document.cookie = "name" + '=; expires=Thu, 01 Jan 1970 00:00:01 GMT;';
  window.open("/TW/View/index.php","_self");
}
</script>

</body>
</html>
